.wrapper {
  max-width: 70vw;
  background: #333;
  padding: 1rem;
  color: #fff;
  margin: 0 auto;
}
.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin: -1px -1px 0px 0px;
  text-align: center;
  width: 34px;
}
