* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.heading {
  text-align: center;
  font-weight: 300;
  margin-bottom: 50px;
}
.container {
  width: 100%;
  text-align: center;
}
.btn {
  width: 100px;
  margin: 10px 20px;
  padding: 10px 20px;
  /* color: #efefef; */
  border: 1px solid gray;
  color: #222222;
}
.text {
  font-size: 40px;
  font-weight: bold;
}
